body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 30px;
}

h1, h2 {
    text-align: center;
}

.menu a {
    display: inline-block;
    margin: 10px;
    padding: 12px 25px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.menu a:hover {
    background: #0056b3;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

.btn-add {
    background: green;
    color: white;
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 5%;
}